<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span12 text-left">
      	<h3>About</h3>
        <p>I was born in Barranquilla, Colombia, in 1989, into a family of artistic inclination. That place was too conservative, hot, and humid for me, so I applied to universities in the U.S.A. I got a scholarship at the Kansas City Art Institute and went there to get my BFA in Painting, even though I was not very interested in the medium (it was mostly for the studio space... and its conceptual focus). I spent time in Brighton, Paris, and Chicago before moving to New York as soon as I graduated. Now I'm  juggling between being an artist's assistant, a freelance product photographer, and a video art curator and festival coordinator. I watch a lot of films and will make my own one day (I'm not ready yet). For now I take photos, make videos and sculptures, read, and write.</p>
        <br>
        <h4>Contact</h4>
        <p>Please</p>
        <p><strong>email me</strong> julianchams@gmail.com</p>
        <p>or</p>
        <p><strong>call me</strong> (816) 446-3144</p>
        <!-- AddThis Follow BEGIN -->
          <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
            <a class="addthis_button_facebook_follow" addthis:userid="julianchams"></a>
            <a class="addthis_button_twitter_follow" addthis:userid="julianchams"></a>
            <a class="addthis_button_instagram_follow" addthis:userid="julianchams"></a>
          </div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5123db8437cec11a"></script>
        <!-- AddThis Follow END -->
        	<br>
	        <div class="span4">
	        	<%= image_tag ("julian_chams_headshot.jpg") %>
	      	</div>	
			</div>
		</div>
	</div>
</section>