<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <h3>About</h3>
      <div class="span5 text-left">
        <p>Different circumstances have put Julian in a continuously migratory state. A constant shifting of context led him to start questioning what constitutes the self. Or perhaps this concern has been the catalyst of his quest. Julian's work is mostly about being alone - it lies somewhere between self and place. There is a sense of dislocation, of not being at home in any of these places, instead finding comfort in the hybrid that is formed by the memories of all of them. He holds that experiencing something does not happen in the moment. Events and conversations are understood after the fact, through synthesis. He is trying to find a common denominator, what it is that makes all these objects and places similar and what makes them essentially unique. Is it that he is part of them? Julian looks for interactions or moments of connection with the inanimate world. He attempts to merge self and environment, resulting in pieces where the self permeates space and objects.</p>
      
        <p>Julian was born in Barranquilla, Colombia, in 1989, into a loving family of artistic inclination. He began studying architecture and art in Bogota, then moved back to Barranquilla to learn some French and cooking skills, then moved to Missouri to go to the Kansas City Art Institute, then spent a long Summer in Saint-Germain-en-Laye at his uncle's place, then back to KC, visiting Colombia every once in a while, Chicago twice, then moved to Brighton for an exchange semester in the Critical Fine Arts Practice program at the University of Brighton, then back to KC to graduate with a BFA, then relocated to Brooklyn where he currently makes artwork, amongst other things.</p>
        <br>
        <h4>Contact</h4>
        <p>Please</p>
        <p><strong>email me</strong> julianchams@gmail.com</p>
        <p>or</p>
        <p><strong>call me</strong> (816) 446-3144</p>
        <!-- AddThis Follow BEGIN -->
          <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
            <a class="addthis_button_facebook_follow" addthis:userid="julianchams"></a>
            <a class="addthis_button_twitter_follow" addthis:userid="julianchams"></a>
            <a class="addthis_button_instagram_follow" addthis:userid="julianchams"></a>
          </div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5123db8437cec11a"></script>
        <!-- AddThis Follow END -->
			</div>
      <div class="span6">
        <%= image_tag ("julian_chams_headshot.jpg") %>
      </div>
		</div>
	</div>
</section>