<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span5 offset2 text-left">
        <p>I was born in Barranquilla, Colombia, in 1989, into a family of artistic inclination. That place was too conservative, hot, and humid for me, so I applied to universities in the U.S.A. I got a scholarship at the Kansas City Art Institute and went there to get my BFA in Painting, even though I was not very interested in the medium (it was mostly for the studio space... and its conceptual focus). I spent time in Brighton, Paris, and Chicago before moving to New York as soon as I graduated. Now I'm  juggling between being an artist's assistant, a freelance product photographer, and a video art curator and festival coordinator. I watch a lot of films and will make my own one day (I'm not ready yet). For now I take photos, make videos and sculptures, read, and write.</p>
        <br>
      </div>
      <div class="span4">
        <%= image_tag ("julian_chams_headshot.jpg") %>
      </div>
    </div>
  </div>
</section>