<section>
  <div class="container-fluid">       
    <div class="row-fluid">   
      <div class="span8 offset2">
        <p>Please</p>
        <p><strong>email me</strong> julianchams@gmail.com</p>
        <p>or</p>
        <p><strong>call me</strong> (816) 446-3144</p>
        <!-- AddThis Follow BEGIN -->
          <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
            <a class="addthis_button_facebook_follow" addthis:userid="julianchams"></a>
            <a class="addthis_button_twitter_follow" addthis:userid="julianchams"></a>
            <a class="addthis_button_instagram_follow" addthis:userid="julianchams"></a>
          </div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5123db8437cec11a"></script>
        <!-- AddThis Follow END -->
      </div>         
      <div class="span2">
      </div>
    </div>
  </div>
</section>