<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span8 offset2">
        <p><strong>CV</strong></p>
        <p>b. 1989, Barranquilla, Colombia<br>
        Lives and works in Brooklyn, NY, USA</p>
        <p><strong>Education</strong></p>
        <p>2008 - 2012</p>
        <p>BFA - Painting, Kansas City Art Institute (KCAI)<br>
        Kansas City, MO, U.S.A</p>
        <p>2011</p>
        <p>Exchange Program - Critical Fine Art Practice, University of Brighton<br>
        Brighton, United Kingdom</p>
        <p><strong>Activity and Honors</strong></p>
        <p>2012-13</p>
        <p>Festival Coordinator and Assistant Curator for Video Art & Experimental Film Festival 
        <br>hosted by Videoart.net, New York City, NY, USA</p>
        <p>2011</p>
        <p>Artist in Residence at St. Peter's Library, University of Brighton, Brighton, UK</p>
        <p>Studio Assistant to James Woodfill, Kansas City, MO, USA</p>
        <p><strong>Collective Exhibitions </strong></p>
        <p>2012</p>
        <p>These Proxies Are for You and They Are True<br>
        Collaborative multimedia installation with Chris Daharsh, Alli Litwicki and Mason Sexton<br>
        City Arts Project, Kansas City, MO, USA</p>
        <p>Annual B.F.A. Exhibition<br>
        H&R Block Artspace, Kansas City, MO, USA</p>
        <p>Store Display<br>
        Nest Luxury, Kansas City, MO, USA</p>
        <p>Construction in Structure<br>
        City Arts Project, Kansas City, MO, USA</p>
        <p>2011</p>
        <p>Brighton University<br>
        Piece permanently installed in St. Peter's Library<br>
        St. Peter's Library, Brighton, UK</p>
        <p>KCAI Accreditation Show<br>
        Dodge Building, Kansas City, MO, USA</p>
        <p>2010</p>
        <p>Fall Be Kind<br>
        Dodge Building, Kansas City, MO<br>
        </p>
      </div>
      <div class="span2">
      </div>
    </div>
  </div>
</section>