<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span12">
        <h1>EXHIBITIONS</h1>
        <h5><a href="#">These Proxies Are for You and They Are True</a></h5>
        <p>City Arts Project, Kansas City, MO, USA | 2012<br>
        Collaborative exhibition with Chris Daharsh, Alli Litwicki, and Mason Sexton</p>
        <h5><a href="http://kcai-bfa-2012.org/section/300069_Julian_Chams.html" target="_blank">KCAI BFA Show</a></h5>
        <p>H&R Block Artspace, Kansas City, MO, USA | 2012</p>
        <h5><a href="http://kcaicasestudy.wordpress.com/tag/construction-in-structure/#" target="_blank">Construction in Structure</a></h5>
        <p>City Arts Project, Kansas City, MO, USA | 2012</p>
      </div>
    </div>
  </div>
</section>