<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span12">
        <h3>Buddies</h3>
        <p><a href="http://jameswoodfill.com/blog/" target="_blank">James Woodfill</a></p>
        <p><a href="http://chrisdaharsh.com" target="_blank">Chris Daharsh</a></p>
        <p><a href="http://www.coreyantis.com" target="_blank">Corey Antis</a></p>
        <p><a href="http://cargocollective.com/allilitwicki" target="_blank">Alli Litwicki</a></p>
        <p><a href="http://www.eduardovelazquez.com" target="_blank">Eduardo Velazquez</a></p>
        <p><a href="http://www.madelinegallucci.com" target="_blank">Madeline Gallucci</a></p>
        <p><a href="http://www.christopherlineberry.info" target="_blank">Christopher Lineberry</a></p>
        <p><a href="http://www.sophieroessler.com" target="_blank">Sophie Roessler</a></p>
      </div>
    </div>
  </div>
</section>