<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span8 offset2 centered-text">
        <h3>Buddies</h3>
        <h5><a href="http://jameswoodfill.com/blog/" target="_blank">James Woodfill</a></h5>
        <h5><a href="http://chrisdaharsh.com" target="_blank">Chris Daharsh</a></h5>
        <h5><a href="http://www.coreyantis.com" target="_blank">Corey Antis</a></h5>
        <h5><a href="http://cargocollective.com/allilitwicki" target="_blank">Alli Litwicki</a></h5>
        <h5><a href="http://www.eduardovelazquez.com" target="_blank">Eduardo Velazquez</a></h5>
        <h5><a href="http://www.madelinegallucci.com" target="_blank">Madeline Gallucci</a></h5>
        <h5><a href="http://www.christopherlineberry.info" target="_blank">Christopher Lineberry</a></h5>
        <h5><a href="http://www.sophieroessler.com" target="_blank">Sophie Roessler</a></h5>
      </div>
    </div>
  </div>
</section>