<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span8 offset2">
        <p>My work is mostly about being alone. It captures moments of connection with the world of inanimate objects. Sometimes I spot two things having a special interaction, other times I interact with things, and others I see a part of my body as a thing.</p>
      </div>
      <div class="span2">
      </div>
    </div>
  </div>
</section>