<section class="one-navbar">
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span12">
        <h1 class="centered-text">YOU CAN'T BUY ANYTHING YET I'M SO SORRY</h1>
      </div>
    </div>
  </div>          
</section>