<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span12">
        <h3>Texts</h3>
        <h5><a href="#">Interview</a></h5>
        <p>Hanna Lodwick and Julian discuss "Internal Synthesis"</p>
        <h5><a href="#">Essay</a></h5>
        <p>Artist writings on "Internal Synthesis"</p>
      </div>
    </div>
  </div>
</section>