<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span12">
        <h1>WORKS</h1>
          <ul>
            <% @works.each do |work| %>
              <li class="span00">
                <a href="/works/<%=work.id%>" class="thumbnail">
                  <%= image_tag(work.photo)%>
                </a>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>          
</section>